* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
@font-face {
  font-family: yekan;
  src: url("../fonts/transfonter.org-20230626-153751/IRANYekanWeb-Light.eot");
  src: url("../fonts/transfonter.org-20230626-153751/IRANYekanWeb-Light.ttf");
  src: url("../fonts/transfonter.org-20230626-153751/IRANYekanWeb-Light.woff");
  src: url("../fonts/transfonter.org-20230626-153751/IRANYekanWeb-Light.woff2");
}
body {
  overflow-x: hidden;
}
div.wrapper {
  width: 1534px;
}
